.tabs {
  width: 100%;
  background: black;
  color: white;
  border-bottom: 1px solid #30363db3;
  display: flex;
  align-items: center;
}

.tab-header {
  display: flex;
  overflow-x: auto;
}

.tab {
  padding: 5px;
  font-weight: 400;
}

.tab.active {
  border-bottom: 2px solid orangered;
  font-weight: 700;
}

/* .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content .tab {
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.tab-content {
  padding: 20px;
} */
