.App {
  text-align: center;
  background: #13151a;
  min-height: 100vh;
}

.main-page {
}

.main-page .tab-header {
  display: flex;
  align-items: center;
  font-size: 12px;
  justify-content: center;
}

.tab-title {
  margin-left: 10px;
}

.chip {
  background: #818181ad;
  margin-left: 5px;
  padding: 2px 3px;
  border-radius: 32px;
}
